Debug/
Release/
*.opensdf
*.sdf
*.suo
*.user
ipch/
*.db
*.db-shm
*.db-wal
*.opendb
*.vcxproj
*.filters
SP1Framework/SP1Framework.vcxproj
SP1Framework/SP1Framework.vcxproj.filters
SP1Framework/SP1Framework.vcxproj
SP1Framework/SP1Framework.vcxproj.filters
/.vs
SP1Framework/SP1Framework.vcxproj
SP1Framework/SP1Framework.vcxproj
